<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Andrew</h1>
    <p>Thank you to Mackenzie Child for this 12 rails challenge</p>
  </div>
</div>